.selectWrapper{
  width:250px;
  height:40px;
  :global .ant-select-selector{
    height:100%;
  }
  :global .ant-select-selection-item{
     all: initial;
    :global .ant-select-selection-item-content{
      display: flex;
    }
    :global .ant-select-selection-item-remove{
      display:none;
    }
  }
}

.inputValueWrapper{
  height: 100%;
}

.checkboxWrapper{
  width:100%;
  padding: 5px 12px;
}

.filterSelectWrapper{
  :global .ant-select-item{
    padding:0;
  }
}
