@import '~@boclips-ui/styles/src/breakpoints';
@import '~@boclips-ui/styles/src/publishersColours';

.summary {
}

@media screen and (min-width: @screen-sm) {
  .summary {
    grid-column: 1 / 25;
    grid-row: 2 / 2;
    line-height: 24px;
  }
}

@media screen and (min-width: @screen-md) {
  .summary {
    grid-column: 1 / 25;
    grid-row: 2 / 2;
  }
}

@media screen and (min-width: @screen-lg) {
  .summary {
    grid-column: 4 / 22;
    grid-row: 2 / 2;
  }
}

@media screen and (min-width: @screen-xl) {
  .summary {
    grid-column: 4 / 22;
    grid-row: 2 / 2;
  }
}
