@import '~@bit/boclips.boclips-ui.styles.styles/_colours';

:root {
  --fontFamily: 'Work Sans', Heebo, Helvetica Neue, Helvetica, Arial, sans-serif;

  --emptyPlaceholderText: @empty-placeholder-text;
}

.emptyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 600px;
  svg {
    width: 380px;
  }
}

.emptyWrapper.lti {
  color: var(--emptyPlaceholderText);
  font-family: var(--fontFamily);
}

.emptyWrapper.custom {
  color: var(--emptyPlaceholderText);
  font-family: var(--fontFamily);
}

.emptyInfo {
  padding-top: 24px;
  font-size: 20px;
  font-weight: 500;
}

.svgWrapper {
  padding: 24px 0;
}
