<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error</title>

  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="errorMessageContainer" th:fragment="error (message, details)">
    <p th:text="${message}"></p>
  <details class="errorMessage__details">
    <summary>Error Details</summary>
    <p th:text="${details}"></p>
  </details>
</div>

</body>
</html>
