<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error</title>

  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<div class="errorMessageContainer" th:fragment="error (message, details)">

  <div class="errorMessageContainer" th:fragment="error (message, details)">
    <input type="checkbox" id="my_checkbox" style="display:none;">
    <div id="hidden">
      <p class="errorMessageContent" th:text="${details}"></p>
    </div>
    <label for="my_checkbox">Show/hide</label>
  </div>
</div>

</body>
</html>
