<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error</title>

  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="errorMessageContainer" th:fragment="error (message, details)">

  <label class="collapsibleContainer">
    <input type="checkbox"  class="collapsibleInput" />
    <span class="arrow">&gt;</span>
    <span class="collapser" th:text="${message}"></span>
    <div class="collapsed" th:text="${title}"></div>
  </label>

</div>

</body>
</html>
