<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Boclips</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<div th:replace="fragments/logo :: logo (logoUrl = ${customLogoUrl})"></div>

<div class="userCollectionsContainer">
  <section class="collectionTile" th:each="collection : ${collections}">
    <a href="" class="collectionTile__link" th:attr="href=${collection.collectionPageUrl}">
      <div class="collectionTile__contentWrapper">
        <h2 class="collectionTile__title" th:text="${collection.title}"></h2>
        <p class="collectionTile__videosCount" th:text="${collection.videosCountLabel}"></p>
        <section class="collectionTile__thumbnails">
          <figure class="collectionTile__thumbnail" th:each="thumbnailUrl : ${collection.thumbnailUrls}" th:style="'background-image: url(\'' + ${thumbnailUrl} + '\');'">
          </figure>
        </section>
      </div>
    </a>
  </section>
</div>

</body>
</html>
