@import '~@bit/boclips.dev-boclips-ui.styles.styles/_colours';

:root {
  --primaryColor: #3370B6;
  --hoverColor: #214B7A;
  --focusBoxShadow: 0 0 3px 1px rgba(51,112,182,0.5);
}

.button {
  border: 0;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 0;
  border-radius: 4px;
  background-color: var(--primaryColor);

  &:active {
    background-color: var(--primaryColor);
  }

  &:hover {
    background-color: var(--hoverColor);
  }

  &:focus {
    background-color: var(--primaryColor);
    box-shadow: var(--focusBoxShadow);
  }
}
