@import '~@boclips-ui/styles/src/publishersColours';
@import '~@boclips-ui/styles/src/breakpoints';

.filtersAppliedWrapper {
  --bo-ui-badge-border: 2px solid @blue-700;
  --bo-ui-badge-background-color: @white;
  --bo-ui-badge-height: auto;
  --bo-ui-badge-border-radius: 4px;
  --bo-ui-badge-value: @gray-900;
  --bo-ui-badge-svg-height: 10px;
  --bo-ui-badge-margin: 0 4px 4px 0;
  --bo-ui-badge-line-height: 24px;
  --bo-ui-badge-padding: 4px 4px 4px 8px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  grid-row: 2 / 2;

  @media screen and (min-width: @screen-sm) {
    grid-column: 1 / 25;
  }

  @media screen and (min-width: @screen-md) {
    grid-column: 1 / 25;
  }

  @media screen and (min-width: @screen-lg) {
    grid-column: 4 / 22;
  }

  @media screen and (min-width: @screen-xl) {
    grid-column: 4 / 22;
  }
}

.clearAll {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
  color: @blue-800;
  margin-left: 0.5rem;
  cursor: pointer;
}

.filtersBadgeCloseWrapper {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  svg {
    stroke: @gray-600;
  }
  &:hover {
    background: @blue-400;
    svg {
      stroke: @blue-800;
    }
  }
}
