@import '~antd/dist/antd.less';
@import '~@boclips-ui/styles/src/LTIColours';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: @shade-1;
  overflow-x: hidden;
  font-family: 'Work Sans', Heebo, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
