@import '~@boclips-ui/styles/src/breakpoints';
@import '~@boclips-ui/styles/src/publishersColours';

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  .searchBarWrapper {
    flex: 1;
    margin-right: 0.25rem;
    --PublishersMaxWidth: unset;
  }

  .filterButtonWrapper {
    z-index: 99;
    flex: 0;
    --bo-ui-button-svg-height: 21px;
    --bo-ui-button-svg-width: 21px;
    &.activeButton {
      --bo-ui-button-outline-background-color: @blue-400;
      --bo-ui-button-outline-border: 2px solid @blue-800;
    }
  }
}

.mobileHeader {
  display: flex;
  flex-direction: row;
}

.filtersWrapper {
  display: block;
}

.hideFilters {
  display: none;
}

.numberOfFilters {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: @blue-500;
  color: @blue-800;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.activeButton {
  background: @blue-400;
}

@media screen and (min-width: @screen-sm) {
  .header {
    grid-column: 1 / 25;
    grid-row: 1 / 1;
    .numberOfFilters {
      position: absolute;
      top: 7px;
      right: 8px;
    }

    .filtersWrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: @white;
      padding: 1.5rem 1rem 0 1rem;
      z-index: 99;
      overflow: scroll;

      .mobileHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 1.25rem;
        color: @blue-800;
        line-height: 1.5rem;
        font-weight: 500;

        .backButton {
          display: flex;
          align-items: center;
          width: 24px;
          height: 24px;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: @screen-md) {
  .header {
    grid-column: 1 / 25;
  }
}

@media screen and (min-width: @screen-lg) {
  .header {
    grid-column: 4 / 22;
    height: auto;

    .numberOfFilters {
      position: relative;
      top: 0;
      left: 0;
      margin-left: 4px;
    }

    .filters {
      flex-basis: 100%;
    }

    .filtersWrapper {
      flex-basis: 100%;
      position: relative;
      height: auto;
      background-color: @white;
      z-index: 9;
      padding: 0;
      overflow: unset;

      .mobileHeader {
        display: none;
      }
    }
  }
}

@media screen and (min-width: @screen-xl) {
  .header {
    grid-column: 4 / 22;
  }
}
