@import '~@boclips-ui/styles/src/breakpoints';
@import '~@boclips-ui/styles/src/publishersColours';

.videoCardWrapper {
  margin-bottom: 1.5rem;
}

:global .ant-list-empty-text {
  svg {
    max-width: 100%;
  }
}

@media screen and (min-width: @screen-sm) {
  .body {
    grid-column: 1 / 25;
    grid-row: 4 / 4;
  }
}

@media screen and (min-width: @screen-md) {
  .body {
    grid-column: 1 / 25;
    grid-row: 4 / 4;
  }
}

@media screen and (min-width: @screen-lg) {
  .body {
    grid-column: 4 / 22;
    grid-row: 4 / 4;
  }
}

@media screen and (min-width: @screen-xl) {
  .body {
    grid-column: 4 / 22;
    grid-row: 4 / 4;
  }
}
