@import '~@bit/boclips.dev-boclips-ui.styles.styles/_colours';

.copyVideoLink {
  margin-top: 8px;

  &.success {
    background-color: #6BB539 !important;
    box-shadow: none !important;
  }
}

.icon {
  margin-right: 8px;
}
